div#dog-food-div, div#cat-food-div {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

div.cat-card, div.dog-card {
	border: 2px solid black;
	padding: 10px;
	box-sizing: border-box;
	margin: 100px 10%;
	width: 30%;
	display: inline-block;
}

h4{
	margin-top: 25px;
}

div.cat-card {
	height: 450px;
}

div.dog-card {
	height: 300px;
}

ul {
	text-align: left;
	list-style-type: none;
}

.invisible {
	display: none;
}

.visible {
	display: block;
}